    
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail plain">

      <img src="http://demo.sparcs.in/hozodo/images/<%= city_id %>.jpg" style="height:160px;width:240px;">

      <div class="caption">
        <h5><span class="glyphicon glyphicon-map-marker"></span>  <%= city_name %>  <span class="glyphicon glyphicon-globe"></span> <%= country_name %></h5>
        <h5><span class="glyphicon glyphicon-home"></span>  <%= hotels_count %> hotels</h5>
        <p><a href="/#/hoteldeals/<%= city_name %>" class="btn btn-default" role="button"><span class="glyphicon glyphicon-home"></span>  Starting from <%= prop_currency %> <%= starting_from %> </a> </p>
      </div>

    </div>
    </div>