

  <div class="col-md-3">
    <div class="panel panel-default">
  <div class="panel-body">
   
  </div>
</div>
  </div>
  <div class="col-md-9">
       <div class="panel panel-default">
  <div class="panel-body">
 <div class="col-md-4">
  <img src="<%= image_url %>" style="height:160px;width:240px;">
 </div>
  <div class="col-md-8">
     <h3><span class="glyphicon glyphicon-map-marker"></span>  <%= property_name %></h3>
    <h6><span class="glyphicon glyphicon-home"></span>  <%= address_1 %>,<%= address_2 %>,<%= city_name %></h6>
    <h6><span>Check in:<%= check_in %> Rating:<%= star_rating %></span></h6>
    <button type="button" class="btn btn-default"><%= prop_currency %> <%= low_rate %></button>
 </div>

    
   
  </div>
</div>
  </div>


 

