
<section id="profileTemplate">

    <div id="profile" class="panel panel-info">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
            <form id="signUpForm">
                    <div class="span5">
                        <label class="span2" for="email">Email</label>
                        <input type="text" id="email" class="span3" name="email" />
                    </div>
                    <div class="span5">
                        <label class="span2" for="firstname">First Name</label>
                        <input type="text" id="firstname" class="span3" name="firstname" />
                    </div>
                    <div class="span5">
                        <label class="span2" for="lastname">Last Name</label>
                        <input type="text" id="lastname" class="span3" name="lastname" />
                    </div>

                    <div class="span5">
                        <label class="span2" for="currency">Default Currency</label>
                        <input type="text" id="currency" class="span3" name="currency" />
                    </div>

                    <div class="span8">
                        <label class="span2" for="address">Address</label>
                        <input type="text" id="address" class="span5" name="address" />
                    </div>
            </form>
        </div>
        
    </div>

</section>
