<link rel="stylesheet" href="css/jquery-ui-1.10.4.custom.min.css" />
<link rel="stylesheet" href="css/bootstrap-datepicker.css" />

<section id="searchTemplate">

    <div class="panel panel-info">
        <div class="panel-heading">Search for Hotels</div>
        <div class="panel-body">
            <form id="hotelListSearchForm">

                <label for="destination">Where</label>
                <input type="text" id="destination" name="destination" />

                    <label for="checkInDate">Check in date</label>
                    <input type="text" id="checkInDate" class="span2" name="checkInDate" />
                    <label for="checkOutDate">Check out date</label>
                    <input type="text" id="checkOutDate" class="span2" name="checkOutDate" />

                <button type="button" class="btn btn-primary" id="searchHotels">Search</button>
            </form>
        </div>
        
    </div>


</section>
