
<section id="signinTemplate">

    <div id="signin" class="panel panel-info">
        <div class="panel-heading">Sign in</div>
        <div class="panel-body">
            <form id="signInForm">
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" class="span2" name="email" />
                    <label for="password">Password</label>
                    <input type="password" id="password" class="span2" name="password" autocomplete="off"/>
                    <button type="button" class="btn btn-primary" id="signinBtn">Sign in</button>
                    <!-- 
                    <button type="button" class="btn btn-primary" id="outlookBtn">Outlook</button>
                    <button type="button" class="btn btn-primary" id="facebookBtn">Facebook</button>
                    <button type="button" class="btn btn-primary" id="googlekBtn">Google</button>
                    -->
                    <a id="outlookBtn" href='#'><img title='outlook account login' src="img/outlook.png"></a>
                    <a id="facebookBtn" href='#'><img title='facebook account login' src="img/facebook.png"></a>
                    <a id="googlekBtn" href='#'><img title='google plus account login' src="img/google_plus.png"></a>
                    <a href="#newuser" id='newuser'>or Sign up</a>
                </div>
            </form>
        </div>
    </div>

</section>
